.home--background {
    background: #373B44;  
    background: -webkit-linear-gradient(to right, #4286f4, #373B44); 
    background: linear-gradient(to right, #4286f4, #373B44);
    
}

.homepage {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 80px;
  }
  

.wrapper {
    position: relative;
}

.text{
    color: #FFF;
    position: absolute;
    text-align: center;
    top: 40%;
    width: 100%;
}

.home--container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 2fr 100px;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    justify-items: stretch;
    align-items: stretch;
 }


