.items__container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 10px;
}

@media only screen and (max-width: 799px) {
  #items__container-id {
    display: block;
  }
}
